.title{
    text-align: center;
}
body{
  font-family: Georgia;
  background-color:	#F0F8FF;
}
img{
  max-width: 100%;
  max-height: 100%;
}
.header{
  padding: 80px;
  text-align: center;
  background: #2F4F4F;
  color: white;
}
div{
  display:block;
}
.diagram{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  height: auto;
}
.landscape {
    height: auto;
    width: auto;
}

.explanation{
  color: Black;
}

.ManualBar{
  overflow: hidden;
  background-color: #333;
  position: static;
  top:0;
}
.ManualBar a.LinkM{
  color: white;
}
.ManualBar a.LinkM:hover{
  background-color: #666;
}
.ManualBar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.team::after{
  content: "";
  clear: both;
  display: table;
}
.person{
  float: left;
  width: 31%;
  padding: 7px;
}

.footer{
  padding: 5px;
  text-align: center;
  background: #999;
}
.column{
  float: left;
  padding: 5px;
}
.row{
  content: "";
  clear: both;
  display: table;
}
.UILogo{
  width: auto;
  height: 20px;
  text-align: left;
}
.MicronLogo{
  width: auto;
  height: 20px;
  text-align: left;
}
